body {
    background-color: #f0f0f0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.door {
    width: 100px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}
.door:hover {
    transform: scale(1.05);
}
.door:active {
    background-color: #d0d0d0;
}