body {
    background-color: #f0f0f0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
#doors-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.door {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
.door:hover {
    transform: scale(1.05);
}
.door:active {
    background-color: #d0d0d0;
}

.door.past {
    background-color: grey;
}

.door.present {
    background-color: #93C572; /* Pistachio green */
}

.door.future {
    background-color: #FDFD96; /* Soft yellow */
}